@{
    ViewData["Title"] = "Projetos";
}
<div id="projects">
    <h1>Meus Projetos</h1>
    <div class="container-cards swiper">
        <div class="card-wrapper">
            <ul class="card-list swiper-wrapper">
                <li class="card-item swiper-slide">
                    <a href="#" class="card-link landing-page">
                        <h1 class="title-project">Sistema de Cadastro</h1>
                        <img src="@Url.Content("~/assets/images/sistema-de-cadastro.png")" alt="Ilustração de games" width="300" height="90">
                        <h3 class="problem-project">Problema:</h3>
                        <p>
                            Necessidade de aprender a sintaxe e os conceitos fundamentais da linguagem C#.
                        </p>
                        <h3 class="soluction-project">Solução:</h3>
                        <p>
                            Desenvolvi um programa em C# para calcular e aplicar juros em pagamentos, o que me permitiu
                            dominar a sintaxe da linguagem e revisar conceitos de matemática, como porcentagem.
                        @* </p>
                        <div class="interaction-click">
                            <img src="@Url.Content("~/assets/icons/click.jpg")" alt="ícone de clique">
                            <p>Clique para interagir</p>
                        <div/> *@
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a href="#" class="card-link landing-page">
                        <h1 class="title-project">Loja Virtual</h1>
                        <img src="@Url.Content("~/assets/images/lh-games.png")" alt="Ilustração de games" width="300" height="80">
                        <h3 class="problem-project">Problema:</h3>
                        <p>
                            Necessidade de aprender os fundamentos sobre desenvolvimento de APIs e criação de uma interface moderna para sites.
                        </p>
                        <h3 class="soluction-project">Solução:</h3>
                        <p>
                            E-commerce simples para venda de jogos virtuais. <br>
                            Desenvolvido com ferramentas famosos como a framework Angular Cli e Boostrap, além dessas, utilizai a linguagem de
                            programação TypeScript.
                        @* </p>
                        <div class="interaction-click">
                            <img src="@Url.Content("~/assets/icons/click.jpg")" alt="ícone de clique">
                            <p>Clique para interagir</p>
                        <div/> *@
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a href="#" class="card-link landing-page">
                        <h1 class="title-project">Sistema de Cadastro</h1>
                        <img src="@Url.Content("~/assets/images/sistema-de-cadastro.png")" alt="Ilustração de games" width="300" height="90">
                        <h3 class="problem-project">Problema:</h3>
                        <p>
                            Necessidade de aprender a sintaxe e os conceitos fundamentais da linguagem C#.
                        </p>
                        <h3 class="soluction-project">Solução:</h3>
                        <p>
                            Desenvolvi um programa em C# para calcular e aplicar juros em pagamentos, o que me permitiu
                            dominar a sintaxe da linguagem e revisar conceitos de matemática, como porcentagem.
                        @* </p>
                        <div class="interaction-click">
                            <img src="@Url.Content("~/assets/icons/click.jpg")" alt="ícone de clique">
                            <p>Clique para interagir</p>
                        <div/> *@
                    </a>
                </li>
            </ul>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>